.u-section-1 .u-sheet-1 {
  min-height: 525px;
}

.u-section-1 .u-image-1 {
  height: 471px;
  margin-top: 0;
  margin-bottom: 54px;
} .u-section-2 {
  min-height: 1103px;
}

.u-section-2 .u-group-1 {
  width: 409px;
  min-height: 496px;
  margin: 0 calc(((100% - 1140px) / 2) + 354px) 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 13px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 54px 28px 0 37px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 37px 10px 0 18px;
}

.u-section-2 .u-group-2 {
  width: 372px;
  min-height: 496px;
  margin: -496px calc(((100% - 1140px) / 2) + -50px) 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 3px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
  margin: 54px 8px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 10px 19px 0;
}

.u-section-2 .u-group-3 {
  width: 392px;
  min-height: 496px;
  margin: -496px auto 0 calc(((100% - 1140px) / 2) + -53px);
}

.u-section-2 .u-container-layout-3 {
  padding: 8px 9px 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 45px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 45px 17px 0;
}

.u-section-2 .u-image-1 {
  height: 577px;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-top: -50px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 277px);
  }

  .u-section-2 .u-group-2 {
    width: calc(((100% - 1140px) / 2) + 422px);
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    margin-left: calc(((100% - 1140px) / 2) + 47px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-group-2 {
    width: calc(((100% - 1140px) / 2) + 532px);
  }

  .u-section-2 .u-group-3 {
    margin-left: calc(((100% - 1140px) / 2) + 157px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    width: calc(((100% - 1140px) / 2) + 622px);
  }

  .u-section-2 .u-group-3 {
    margin-left: calc(((100% - 1140px) / 2) + 247px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    width: calc(((100% - 1140px) / 2) + 722px);
  }

  .u-section-2 .u-group-3 {
    margin-left: calc(((100% - 1140px) / 2) + 347px);
  }
}